@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #15202b;
}
* {
  transition: all 0.3s ease-in-out;
}
.content {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 100%;
}
.left {
  width: fit-content;
  height: 100vh;
  border-right: 1px solid #38444d;
  position: fixed;
  margin-right: 70vw;
  right: 0;
}
.left a {
  width: fit-content;
}
.left a:hover {
  background-color: #2d3741;
  border-radius: 30px;
}
.tweet {
  background-color: #1a8cd8;
  border-radius: 40px;
}
.contentCenter {
  width: 31vw;
  position: relative;
  left: 29vw;
}
.right {
  width: fit-content;
  height: 100vh;
  margin-left: 60vw;
  position: fixed;
  border-left: 1px solid #38444d;
}
.search {
  background-color: #192734;

  border-radius: 40px;
}
.rightpost {
  background-color: #192734;
  border-radius: 15px;
}
.copy {
  width: 65%;
  font-size: 14px;
}
.rightcon:hover {
  background-color: #202e3a;
}
.sho {
  color: #1a8cd8;
}
.follow {
  background-color: #f0f8ff;
  border-radius: 20px;
  height: fit-content;
  padding: 0.25rem 1rem;
}
.follow:hover {
  background-color: #e7e7e7;
}
.t {
  font-size: 1.25rem;
  color: #1c93e5;
  font-weight: 200;
}
.twet {
  background-color: #1a8cd8;
  border-radius: 40px;
}
.botm {
  border-bottom: 1px solid #38444d;
}
.clr {
  color: #1c93e5;
}
.clr:hover {
  background-color: #1c2732;
}
.icn:hover {
  background-color: #1c2732;
  border-radius: 50%;
}
.showmore {
  border-bottom: 1px solid #38444d;
}
.postbody {
  border-bottom: 1px solid #38444d;
}

@media screen and (max-width: 1650px) {
  .left {
    width: fit-content;
    height: 100vh;
    border-right: 1px solid #38444d;
    position: fixed;
    margin-right: 70vw;
    right: 0;
  }
  .contentCenter {
    width: 33.5vw;
  }
  .right {
    margin-left: 62.5vw;
  }
}

@media screen and (max-width: 1150px) {
  .left {
    width: fit-content;
    height: 100vh;
    border-right: 1px solid #38444d;
    position: fixed;
    margin-right: 75vw;
    right: 0;
    overflow-y: auto;
  }

  .contentCenter {
    width: 37.5vw;
    left: 25vw;
  }
  .right {
    right: 0;
    margin-left: 0;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .rightpost {
    width: 100%;
  }
  .rightcon {
    line-break: loose !important;
  }
  .md-tweet {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .content {
    height: 100%;
    margin: auto;
    width: 100%;
    display: flex;
    overflow-x: hidden;
  }
  .left {
    position: fixed;
    width: 55px;
    overflow: hidden;
    border-right: 1px solid #38444d;
    position: fixed;
    margin-right: 0;
    left: 0;
    overflow-y: auto;
  }
  .tweet {
    display: none;
  }
  .md-tweet {
    display: block;
  }
  .contentCenter {
    position: relative;
    left: 55px;
    right: 0;
    width: calc(100% - 55px);
    margin: 0 !important;
  }
  .right {
    display: none;
  }
}
